#location {
  padding: 6px;
}

.container .row .fa.fa-search {
  font-size: 18px;
}

.pane {
  border: 1px solid grey;
  border-radius: 5px;
  margin: 3px;
}

.bar {
  display: inline-block;
  text-align: right;
  padding-right: 2px;
  width: 85%;
  background-color: #317eac;
  color: white;
}